<h2 style="text-align: center;"><strong>renal doppler for renal artery stenosis</strong></h2>

<br />

<p><strong>clinical info:</strong> hypertension.</p>

<h3><strong>technique:</strong></h3>
<p>scan was performed with low frequency curvilinear transducer. gray scale and color flow mapping and spectral analysis were performed.</p>

<h3><strong>right kidney:</strong></h3>
<p>right kidney measures 10.6 cm in bipolar length. renal parenchymal echogenicity is normal. minimal right hydronephrosis is seen.</p>
<p>evaluation of main renal artery shows peak systolic flow of 84 cm/sec. peak systolic velocity in the aorta is 85 cm/sec. renal artery/aorta peak systolic ratio of 0.94 is noted.</p>
<p>doppler evaluation of main renal vein shows continuous flow with normal respiratory variation.</p>
<p>normal flow is seen in right kidney.</p>
<p>spectral waveform take at inter, upper and upper pole vessels. the ri are essentially normal.</p>
<p>doppler evaluation of inter-lobar were obtained and ri were calculated.</p>
<p>at upper pole ri = 0.58</p>
<p>at interpolar region ri = 0.6</p>
<p>at lower pole ri = 0.59</p>

<h3><strong>left kidney</strong></h3>
<p>left kidney measures 11.6 cm in bipolar length. renal parenchymal echogenicity is normal. minimal left calyceal fullness is seen.</p>
<p>evaluation of main renal artery shows peak systolic flow of 80 cm/sec. peak systolic velocity in the aorta is 85 cm/sec. renal artery/aorta peak systolic ratio of 0.94 is noted.</p>
<p>doppler evaluation of main renal vein shows continuous flow with normal respiratory variation.</p>
<p>normal flow is seen in left kidney.</p>
<p>spectral waveform take at inter, upper and upper pole vessels. the ri are essentially normal.</p>
<p>doppler evaluation of inter-lobar were obtained and ri were calculated.</p>
<p>at upper pole ri = 0.65</p>
<p>at interpolar region ri = 0.6</p>
<p>at lower pole ri = .62</p>

<br />

<h3><strong>conclusion</strong></h3>
<p>- normal renal sizes for patient's age.</p>
<p>- minimal right hydronephrosis and left pelvic calyceal fullness needs urine r/e correlation.</p>
<p>- normal doppler indices for patient's age in both kidneys.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>