<h2 style="text-align: center;"><strong>ultrasound both hips</strong></h2>
<br />

<h3><strong>technique:</strong></h3>
<p>the procedure was performed with small parts high frequency transducer.</p>

<h3><strong>findings:</strong></h3>
<p>bilateral femoral epiphysis are not yet ossified. their echotexture is normal. alpha and beta angles are calculated. there is no evidence of joint effusion.</p>
<p>right alpha 61</p>
<p>left alpha 60</p>
<p>right beta 45</p>
<p>left beta 47</p>

<br />

<h3><strong>impression</strong></h3>
<p>- <strong>no ddh.</strong></p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>