<h2 style="text-align: center;"><strong>ULTRASOUND ABDOMEN &amp; PELVIS</strong></h2>
<br />

<p><strong>LIVER:</strong> is normal in size and shape. Texture is normal. No focal lesion is seen. No intra hepatic biliary dilatation noted. Hepatic veins are patent.</p>

<p><strong>CBD and Portal vein:</strong> are normal in caliber and clear.</p>

<p><strong>GALL BLADDER:</strong> Gall bladder is partially distended. No calculus or mass. Wall thickness is normal. No Peri-cholecystic fluid is seen.</p>

<p><strong>PANCREAS:</strong> Pancreas is of normal size. No focal lesion seen. No peripancreatic fluid collection is identified. The pancreatic duct is not dilated. Normal configuration of abdominal aorta and I.V.C.</p>

<p><strong>SPLEEN:</strong> measures 9 cm. No focal lesion seen. No varices or enlarged lymph node at Splenic hilum identified.</p>

<p><strong>KIDNEYS:</strong> Both kidneys are normal in sizes, axis and contour. Normal parenchymal echogenicity. No stone or hydronephrosis. No focal lesion. No perinephric collection. Ureters are not dilated.</p>

<p><strong>URINARY BLADDER:</strong> Prevoid is ____ ml. Post void is ____ ml.</p>

<p><strong>UTERUS:</strong> Uterus is anteverted. Normal in size. Myometrial texture is homogeneous. No focal lesion seen.</p>

<p>Endometrium thickness is 6 mm.</p>

<p><strong>OVARIES:</strong> Both ovaries are normal in sizes. No adnexal mass is seen. No free fluid in caudle-sac.</p>

<p><strong>OTHERS:</strong> No ascites. Major abdominal vessels are patent. No bowel loops dilatation.</p>

<br />

<h3><strong>Impression:</strong></h3>
<p>&bull; Normal study.</p>

<br />

<p style="text-align: right;"><strong>Dr. Mansoor Ghani</strong></p>
