<h2 style="text-align: center;"><strong>doppler carotids</strong></h2>



<br />

<h3><strong>technique:</strong></h3>
<p>carotid triplex imaging was performed with high frequency linear array transducer. pulsed wave and spectral data were also acquired bilaterally.</p>

<h3><strong>findings:</strong></h3>

<h4><strong>right carotids & vertebral:</strong></h4>
<p>grayscale images show calcified plaque in right bulb extending into proximal ica resulting in approx. 43 % luminal narrowing. wave patterns are normal. right vertebral artery showed antegrade continuous flow. imt= 0.7 mm</p>

<h4><strong>left carotids & vertebral:</strong></h4>
<p>grayscale images show calcified plaque in left bulb extending into proximal ica resulting in approx. 57% % luminal narrowing. wave patterns are normal. left vertebral artery showed antegrade continuous flow. imt= 0.8 mm</p>

<h3><strong>carotid wave form analysis</strong></h3>

<h4><strong>right carotids</strong></h4>
<p>systolic:</p>
<p>cca =47 cm/s.</p>
<p>ica = 30 cm/s.</p>

<h4><strong>left carotids</strong></h4>
<p>systolic:</p>
<p>cca = 50 cm/s.</p>
<p>ica = 45 cm/s.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- bilateral carotids atherosclerotic disease as above (moderate degree).</p>
<p>- multinodular goiter as incidental finding.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>