<h2 style="text-align: center;"><strong>ultrasound thyroid</strong></h2>
<br />

<h3><strong>technique:</strong></h3>
<p>the procedure was performed using high resolution small parts transducer.</p>

<h3><strong>findings:</strong></h3>
<p>thyroid gland is enlarged more for left lobe with inferior extension having mass effect over adjacent viscera.</p>

<h4><strong>right lobe</strong></h4>
<p>right lobe measures 50 x 28 mm (tr xap).</p>

<h4><strong>left lobe</strong></h4>
<p>left lobe measures 55 x 34 mm (tr x ap).</p>

<p><strong>isthmus:</strong> measures 35 mm.</p>

<p>multiple echogenic and solid nodules in both lobes and isthmus. few of these showing calcifications.</p>
<p>larger nodule in right lobe measuring 20 x 15 mm (tr x ap), 25 x 17 mm in left lobe and 34 x 21 mm in isthmus/left lobe region. intranodular flow is seen.</p>
<p>neck vessels are intact.</p>
<p>no neck lymphadenopathy.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- multinodular goiter as above.(tr-i /ii).</p>
<p>- thyroid scan is suggested.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>