<h2 style="text-align: center;"><strong>ARTERIAL STUDY RIGHT LOWER EXTREMITY</strong></h2>



<br />

<h3><strong>PROCEDURE:</strong></h3>
<p>Lower extremity duplex imaging was performed with high frequency linear array transducer.</p>
<p>Duplex examination included imaging in the transverse, sagittal planes with both grayscale and color Doppler.</p>
<p>Pulsed wave spectral Doppler data was acquired for common femoral, superficial femoral (proximal, middle, distal), deep femoral, popliteal, anterior tibial and posterior tibial arteries.</p>

<br />

<h3><strong>FINDINGS:</strong></h3>
<p>No atherosclerotic disease in lower limb arteries.</p>
<p>These vessels showed adequate perfusion on color Doppler.</p>
<p>Spectral analysis showed normal velocities and triphasic flow in all the arteries.</p>
<p>No Baker's cyst.</p>

<br />

<h3><strong>IMPRESSION:</strong></h3>
<p>Normal study.</p>

<br />

<p style="text-align: right;"><strong>Dr. Mansoor Ghani</strong></p>