<h2 style="text-align: center;"><strong>venous study lower extremity</strong></h2>

<br />

<h3><strong>procedure & findings:</strong></h3>
<p>venous system of ___ lower extremity was evaluated with high frequency, linear array transducer. gray scale, color flow and doppler spectral analysis was done, supplemented by compression and augmentation maneuvers.</p>
<p>common femoral, superficial femoral, deep femoral, popliteal, anterior tibial, posterior tibial and great saphenous veins are compressible and showed augmentation on distal compression.</p>
<p>cessation of venous flow was observed on valsalva's maneuver.</p>
<p>color doppler showed adequate filling of these veins.</p>
<p>no evidence of intraluminal thrombus in either of these veins is noted.</p>
<p>no collateral circulation could be recognized.</p>
<p>no baker's cyst.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- no dvt.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>