<h2 style="text-align: center;"><strong>FETAL ANOMALY SCAN</strong></h2>


<br />

<p><strong>STATUS:</strong> Single alive fetus.</p>

<p><strong>POSITION:</strong> Presentation: BREECH</p>

<p><strong>PLACENTA:</strong> Posterior not low lying.<br>
<strong>Thickness:</strong> Normal<br>
<strong>Appearance:</strong> Homogenous<br>
No retro placental or intraplacental focal lesion/hematoma seen.</p>

<p><strong>FETAL CARDIAC ACTIVITY:</strong> Positive, regular and normal rate and rhythm<br>
<strong>FHR:</strong> 146 bpm</p>

<p><strong>AMNIOTIC FLUID:</strong> Adequate.</p>

<br />

<h3><strong>FETAL BIOMETRY:</strong></h3>

<p><strong>BPD:</strong> 5.8 cm — 24 W 0 d</p>
<p><strong>HC:</strong> 22 cm — 24 W 2 d</p>
<p><strong>AC:</strong> 18 cm — 23 W 4 d</p>
<p><strong>FL:</strong> 4.3 cm — 24 W 0 d</p>

<p><strong>EFW:</strong> 651 grams</p>

<br />

<p><strong>SKULL:</strong> Shape of skull is normal with a continuous outline of calvarium. No abnormal solid or cystic lesion seen.</p>

<p><strong>BRAIN TISSUE:</strong> Normal brain tissue including forebrain, hind brain and brain stem. Diamond shaped thalami with normal third ventricle. No hydrocephalus or abnormal masses.</p>

<p><strong>NECK:</strong> Normal, no solid or cystic mass. Skin fold thickness within normal limits.</p>

<p><strong>SPINE:</strong> Normal with three ossification centers throughout. No splaying. Overlying skin is normal.</p>

<p><strong>CHEST:</strong><br>
<strong>Heart:</strong> Normal four chamber view and heart rate.<br>
<strong>Lungs:</strong> Normal looking with homogeneous parenchyma.<br>
<strong>Diaphragm:</strong> Normal, showing respiratory movements. No diaphragmatic hernia.</p>

<p><strong>GIT:</strong> Stomach bubble is seen.</p>

<p><strong>KIDNEYS:</strong> Normal in size and shape, bilaterally visualized.</p>

<p><strong>URINARY BLADDER:</strong> Seen and normal in shape.</p>

<p><strong>ANT ABDOMINAL WALL:</strong> No break in integrity at any level.</p>

<p><strong>LIMBS:</strong> Bones are normal in shape and echogenicity.</p>

<p><strong>UMBILICAL CORD:</strong> Three vessel cord. No cord seen around neck.</p>

<br />

<h3><strong>CONCLUSION:</strong></h3>
<p>Single alive fetus with composite gestational age of 23 weeks and 4 days.</p>
<p><strong>EDD:</strong> 5-11-25</p>
<p>No gross anomaly.</p>

<br />

<p style="text-align: right;"><strong>Dr. Mansoor Ghani</strong></p>
