<h2 style="text-align: center;"><strong>ultrasound kub</strong></h2>


<br />

<h3><strong>kidneys:</strong></h3>
<p>both kidneys are normal in sizes, axis and contour. normal parenchymal echogenicity. no stone or hydronephrosis. no focal lesion. no perinephric collection. ureters are not dilated.</p>

<h3><strong>urinary bladder:</strong></h3>
<p>prevoid is 100 ml and is normal.</p>

<h3><strong>others:</strong></h3>
<p>no ascites. major abdominal vessels are patent. no bowel loops dilatation.</p>

<br />

<h3><strong>impression:</strong></h3>
<p>- normal kub.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>