<h2 style="text-align: center;"><strong>ultrasound scrotum</strong></h2>

<br />

<h3><strong>right testis:</strong></h3>
<p>the right testis is normal in size. it exhibits homogenous, uniform parenchymal echotexture. no lesion is seen within or surrounding the testis. epididymal head is normal.</p>
<p>adequate flow is seen on color doppler.</p>

<h3><strong>left testis:</strong></h3>
<p>the left testis is normal in size. it exhibits homogenous, uniform parenchymal echotexture. no lesion is seen within or surrounding the testis. epididymal head is normal.</p>
<p>adequate flow is seen on color doppler.</p>

<h3><strong>others:</strong></h3>
<p>no hydrocele is seen.</p>
<p>no varicocele.</p>
<p>no inguinal hernia.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- normal study.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>
