<h2 style="text-align: center;"><strong>usg local swelling</strong></h2>


<br />

<h3><strong>procedure:</strong></h3>
<p>right inguinal swelling ultrasound was performed with linear probe.</p>

<h3><strong>findings:</strong></h3>
<p>a defect of 5 mm in noted in right deep inguinal ring through which herniation of right ovary and its pedicles is seen. right inguinal hernia having fat and ovary as contents at time of scan. flow in ovarian pedicle is preserved. associated fat protrusion as well.</p>
<p>no hernia on left.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>