<h2 style="text-align: center;"><strong>ultrasound obstetrics</strong></h2>


<br />

<p>single alive fetus is seen in cephalic presentation.</p>
<p>fetal heart and limb motion seen and heart rate is 142 bpm.</p>
<p>placenta is posterior not low lying.</p>
<p>afi is cm.</p>

<h3><strong>biometry</strong></h3>
<p><strong>bpd:</strong> 7.8 cm — 31 w 2 d</p>
<p><strong>hc:</strong> 28 cm — 30 w 6 d</p>
<p><strong>ac:</strong> 24 cm — 29 w 1 d</p>
<p><strong>fl:</strong> 5.8 cm — 30 w 0 d</p>

<p><strong>estimated fetal weight:</strong> grams.</p>
<p><strong>estimated gestational age:</strong> weeks and days.</p>
<p><strong>estimated expected date of delivery:</strong> .</p>

<br />

<h3><strong>impression</strong></h3>
<p>- single alive fetus with composite gestational age of weeks days.</p>
<p>- g/a according to lmp is weeks days.</p>
<p>- fetal parameters correlate with each other.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>