<h2 style="text-align: center;"><strong>venous & arterial study of upper limbs</strong></h2>

<br />

<h3><strong>procedure & findings:</strong></h3>
<p>venous and arterial system of left upper limb was evaluated with high frequency, linear array transducer. grayscale, color flow and doppler spectral analysis was done supplemented by compression and augmentation maneuvers.</p>
<p>left subclavian, axillary, brachial, ulnar and radial veins and arteries are patent.</p>
<p>evaluation of superficial venous system also reveals adequate flow.</p>
<p>color doppler showed adequate filling of vessels.</p>
<p>no evidence of intra luminal thrombus in these vessels is noted.</p>
<p>no collateral circulation could be recognized.</p>
<p>biphasic flow in left radial and ulnar artery.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- no dvt.</p>
<p>- patent arteries.</p>
<p>- biphasic flow in left radial and ulnar artery.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>
