<h2 style="text-align: center;"><strong>ultrasound pelvis</strong></h2>


<br />

<h3><strong>uterus</strong></h3>
<p>the uterus is anteverted and measures _____ x ______ x ______ cm. no focal lesion is seen. myometrial texture is homogeneous.</p>
<p>the endometrial thickness is ______ mm and smooth.</p>
<p>no fluid in endometrial cavity.</p>

<h3><strong>right ovary</strong></h3>
<p>right ovary measures ml.</p>

<h3><strong>left ovary</strong></h3>
<p>left ovary measures ml.</p>

<h3><strong>others:</strong></h3>
<p>no adnexal mass.</p>
<p>no fluid in cul-de-sac</p>

<br />

<h3><strong>impression</strong></h3>
<p>- normal study.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>