<h2 style="text-align: center;"><strong>ultrasound early obs</strong></h2>



<br />

<p>single intrauterine gestational sac having fetal pole and yolk sac is visualized.</p>
<p>fetal cardiac activity is seen.</p>
<p>no perisac bleed.</p>

<h3><strong>biometry</strong></h3>
<p><strong>g/s:</strong> mm — w d</p>
<p><strong>crl:</strong> mm — w d</p>

<br />

<h3><strong>impression</strong></h3>
<p>- alive intrauterine pregnancy of weeks and day.</p>
<p>- edd</p>
<p>- anomaly scan is suggested between 18-24 weeks.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>