<h2 style="text-align: center;"><strong>venous study of upper limbs</strong></h2>
<br />

<h3><strong>procedure & findings:</strong></h3>
<p>venous system of both upper limbs was evaluated with high frequency, linear array transducer. grayscale, color flow and doppler spectral analysis was done supplemented by compression and augmentation maneuvers.</p>
<p>bilateral subclavian, axillary, brachial, ulnar and radial veins are compressible and showed augmentation on distal compression.</p>
<p>evaluation of superficial venous system also reveals adequate flow.</p>
<p>color doppler showed adequate filling of vessels.</p>
<p>no evidence of intra luminal thrombus in either veins is noted.</p>
<p>no collateral circulation could be recognized.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- no dvt.</p>
<p>- patent arteries.</p>
<p>- excessive subcutaneous fat.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>