<h2 style="text-align: center;"><strong>usg twin pregnancy</strong></h2>

<br />

<h3><strong>status:</strong></h3>
<p>mono-chorionic di-amniotic type twin pregnancy.</p>

<h3><strong>position:</strong></h3>
<p>presentation: cephalic for twin a and breech for b.</p>

<h3><strong>placenta:</strong></h3>
<p>anterior/left lateral.</p>
<p><strong>thickness:</strong> normal</p>
<p><strong>appearance:</strong> homogenous</p>
<p>no retro placental or intraplacental focal lesion/hematoma seen.</p>

<h3><strong>fetal cardiac activity:</strong></h3>
<p>positive, regular and normal rate and rhythm</p>
<p><strong>fhr:</strong> a 142 bpm and b 140 bpm.</p>

<h3><strong>amniotic fluid:</strong></h3>
<p><strong>afi:</strong> 13.7 cm.</p>

<br />

<h3><strong>fetal biometry:</strong></h3>

<h4><strong>a</strong></h4>
<p><strong>bpd:</strong> 8.2 cm — 33 w 1 d</p>
<p><strong>hc:</strong> 31 cm — 33 w 6 d</p>
<p><strong>ac:</strong> 28 cm — 32 w 1 d</p>
<p><strong>fl:</strong> 6.2 cm — 32 w 0 d</p>
<p><strong>efw:</strong> 1971 grams</p>

<h4><strong>b</strong></h4>
<p><strong>bpd:</strong> 7.9 cm — 31 w 6 d</p>
<p><strong>hc:</strong> 29 cm — 32 w 4 d</p>
<p><strong>ac:</strong> 28 cm — 31 w 2 d</p>
<p><strong>fl:</strong> 6.1 cm — 31 w 3 d</p>
<p><strong>efw:</strong> 1822 grams.</p>

<br />

<h3><strong>conclusion:</strong></h3>
<p>- twin a of 32 weeks days</p>
<p>- edd 15-01-25.</p>
<p>- twin b of 31 weeks 4 days.</p>
<p>- edd 21-01-25</p>

<br />

<p style="text-align: right;"><strong>radiologist</strong></p>
<p style="text-align: right;"><strong>dr mansoor ghani</strong></p>