<h2 style="text-align: center;"><strong>ultrasound neonatal head</strong></h2>


<br />

<h3><strong>procedure:</strong></h3>
<p>neonatal head ultrasound is performed with high frequency linear and curved transducer.</p>

<h3><strong>findings:</strong></h3>
<p>brain parenchyma appears normal. no focal lesion seen.</p>
<p>no intracranial bleed or periventricular cystic areas seen to suggest leukomalacia.</p>
<p>ventricles are not dilated and no intraventricular hemorrhage seen.</p>
<p>no evidence of sub-dural collection is seen.</p>
<p>corpus callosum is normal.</p>
<p>posterior fossa structures appear normal.</p>
<p>extracerebral spaces are not dilated.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- normal study.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>