<h2 style="text-align: center;"><strong>ultrasound right breast</strong></h2>

<br />

<h3><strong>technique</strong></h3>
<p>the procedure was performed with small parts high frequency transducer.</p>

<h3><strong>findings</strong></h3>
<p>right breast shows normal skin thickness and no nipple inversion seen.</p>
<p>there is normal distribution of fibro-glandular tissue in right breast.</p>
<p>no solid or cystic lesion seen.</p>
<p>retro mammary fat plans are well preserved.</p>
<p>right axillary fibro fatty tissue measuring 19 x 35 mm likely accessory breast tissue.</p>
<p>few right axillary lymph nodes larger one 11 x 7 mm having preserved fatty hila.</p>

<br />

<h3><strong>impression</strong></h3>
<p>- no solid or cystic breast lesion.</p>
<p>- right axillary fibro fatty tissue measuring 19 x 35 mm likely accessory breast tissue.</p>
<p>- few right axillary lymph nodes larger one 11 x 7 mm having preserved fatty hila.</p>

<br />

<p style="text-align: right;"><strong>dr. mansoor ghani</strong></p>